# Evolution API
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=tu-api-key-aqui
EVOLUTION_INSTANCE=nombre-de-tu-instancia

# Google Drive
GOOGLE_DRIVE_ROOT_FOLDER_ID=id-de-tu-carpeta-de-drive
GOOGLE_REFRESH_TOKEN=tu-refresh-token-aqui

# Servidor Node
PORT=3000
