SERVER_PORT=8080
SERVER_URL=http://localhost:8080
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://usuario:password@host:5432/postgres
CACHE_REDIS_ENABLED=false
CACHE_REDIS_URI=
AUTHENTICATION_API_KEY=tu-api-key-aqui
LOG_LEVEL=ERROR,WARN,INFO,LOG
DEL_INSTANCE=false
